@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

html,
body {
    background-color: var(--main-bg-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #158615;
    --primary-color-dark: #0b5711;
    --accent-color: #FFF8F0;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    background-color: var(--primary-color-dark);
    z-index: 1;
}

.menu {
    list-style: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    color: var(--accent-color);
    text-align: center;
}

.menu-item {
    display: inline-block;
    padding: 20px;
    transition: 1s;
}

.menu-item a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color-dark);
}

.menu-item a {
    padding: 20px;
    text-decoration: none;
    color: var(--accent-color);
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 1s;
}

.logo {
    text-decoration: none;
    position: fixed;
    float: left;
    margin: 0px 40px;
}

/* HOME */
#home {
    height: 90vh;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#home div {
    display: inline-block;
    text-align: center;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
}

#home div h1 {
    font-size: 5rem;
    text-align: center;

}

#home div h2 {
    font-size: 3rem;
    text-align: center;

}

#home div img {
    text-align: center;
}


/* EVENTO */
#evento {
    height: 90vh;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#evento h2 {
    width: 45%;
    font-size: 3rem;
    text-align: center;
    float: right;

}

#evento p {
    width: 45%;
    font-size: x-large;
    text-align: center;
    float: right;
}

#evento iframe {
    height: 50%;
    width: 50%;
    float: left;
    text-align: center;
}

/* NOSOTROS */

#nosotros {
    height: 90vh;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#nosotros h2 {
    font-size: 5rem;
    text-align: center;
}

#nosotros div {
    display: inline-block;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
}

#nosotros div h3 {
    font-size: x-large;
}

#nosotros div img {
    height: 50%;
    width: 50%;
}


/* FOOTER */
footer {
    text-align: center;
    margin: 3%;
}

footer img {
    height: 3%;
    width: 3%;
}

