@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

/* Reset */
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--white-bg-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

:root {

    /* Paleta de colores = https://coolors.co/palette/5cf64a-87e752-43b929-ffcae9-ff37a6 */
    
    --primary-color: #158615;
    --primary-color-dark: #0b5711;
    --accent-color: #FFF8F0;
    --secundary-bg-color: #87E752;
    --white-bg-color: #F8F9FA;
    --gray-bg-color: #EDEDED;
    --primary: #43B929;
    --primary-dark: #065e41;
    --secundary: #FF37A6;
    --secundary-dark: #841934;
    --form-bg-color: #FFCAE9;
}

/* NAVBAR */
.navbar {
    position: fixed;
    width: 100%;
    background-color: var(--primary-color-dark);
    z-index: 1;
}

.menu {
    list-style: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    color: var(--accent-color);
    text-align: center;
}

.menu-item {
    display: inline-block;
    padding: 20px;
    transition: 1s;
}

.menu-item a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color-dark);
}

.menu-item a {
    padding: 20px;
    text-decoration: none;
    color: var(--accent-color);
    font-size: 18px;
    letter-spacing: 2px;
    transition: all 1s;
}

.logo {
    text-decoration: none;
    position: fixed;
    float: left;
    margin: 0px 40px;
}

/* HOME */
#home {
    height: 90vh;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#home div {
    display: inline-block;
    text-align: center;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%; 
}

#home div h1 {
    font-size: 3rem;
    text-align: center;
    color: var(--primary);
}

#home div p {
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

#home div img {
    text-align: center;
}


/* EVENTO */
#evento {
    height: 90vh;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#evento h2 {
    width: 45%;
    font-size: 3rem;
    text-align: center;
    float: right;
    color: var(--secundary);
}

#evento p {
    width: 45%;
    font-size: 1.5rem;
    text-align: center;
    float: right;
    padding-top: 100px;
}

#evento iframe {
    height: 80%;
    width: 50%;
    float: left;
    text-align: center;
}

/* NOSOTROS */

#nosotros {
    height: 90vh;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#nosotros h2 {
    font-size: 3rem;
    text-align: center;
    color: var(--primary);
}

#nosotros div {
    display: inline-block;
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    padding-top: 2%;
}

#nosotros div h3 {
    font-size: x-large;
    padding-bottom: 3%;
}

#nosotros div p {
    padding-bottom: 2%;
}

#nosotros div img {
    height: 40%;
    width: 40%;
    padding-top: 2%;
}



/* SECCION DE REGISTRO */

#register {
    height: 100vh;
    padding: 50px 50px;
    background-color: var(--form-bg-color);
}

.description-register {
    background-color: rgba(255,255,255,0.6);
    float: left;
    width: 48%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-register h1 {
    color: var(--primary);
    font-size: 3rem;
}

.description-register p {
    font-size: 2rem;
    color: black;
}

.contact-form{
    background-color: rgba(255,255,255,0.6);
    float: right;
    width: 48%;
    height: 100%;
    padding: 30px;
}

.contact-form h1{
    text-align: center;
    color: var(--primary);
    font-size: 1.8rem;
}

.contact-form form{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-group label{
    color: black;
}

form .form-control {
    /* display: block; */
    width: 100%;
    padding: 0.375rem 0.7rem;
    font-size: 1rem;
    line-height: 1.7;
    border: none; 
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #ccc;
}

/* Boton Form */
.btn {
    display: inline-block;
    font-size: 15px;
    padding: 14px 23px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-light {
    background: var(--secundary);
    border: 1px solid var(--secundary-dark);
    color: #fff;
    width: 100%;
}

.btn-light:hover {
    background: var(--secundary-dark);
    border: 1px solid var(--secundary-dark);
    color: #fff;
}


/* SECCION DE CLIMA */
#clima {
    height: 50vh;
    /* background-color: var(--secundary-bg-color); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card-clima{
    background-color: var(--white-bg-color);
    width: 60vh;
    border: 1px solid var(--secundary-bg-color);
}

.card-title{
    background-color: var(--gray-bg-color);
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
}

.title-one {
    color: var(--primary);
    text-transform: uppercase;
}

.title-two {
    color: grey;
}

.card-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.clima-data {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-horario {
    color: var(--primary-dark);
    font-weight: bold;
}

#temp {
    color: var(--primary-dark);
    font-weight: bold;
    font-size: 3rem;
}

.text-humidity {
    color: gray;
}

.text-speed {
    color: gray;
    font-size: 0.7rem;
}

.clima-icon {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icon-weather {
    width: 100px;
}

#description-weather {
    color: var(--primary-dark);
}

/* FOOTER */
footer {
    text-align: center;
    margin: 3%;
}

footer img {
    height: 3%;
    width: 3%;
}